In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
#Question 1: Let’s attempt to predict the survival of a horse based on various observed medical conditions. Load the data from ‘horses.csv’ and observe whether it contains missing values.
dataset=pd.read_csv('C:\\Neville\\Python\\Session\\Module 7\\horse.csv')

In [3]:
dataset.head()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no

In [4]:
dataset.shape

(299, 28)

In [80]:
dataset.isnull().sum()

surgery                    0
age                        0
hospital_number            0
rectal_temp               60
pulse                     24
respiratory_rate          58
temp_of_extremities       56
peripheral_pulse          69
mucous_membrane           47
capillary_refill_time     32
pain                      55
peristalsis               44
abdominal_distention      56
nasogastric_tube         104
nasogastric_reflux       106
nasogastric_reflux_ph    246
rectal_exam_feces        102
abdomen                  118
packed_cell_volume        29
total_protein             33
abdomo_appearance        165
abdomo_protein           198
outcome                    0
surgical_lesion            0
lesion_1                   0
lesion_2                   0
lesion_3                   0
cp_data                    0
dtype: int64

In [7]:
dataset.describe()

,hospital_number,rectal_temp,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein,lesion_1,lesion_2,lesion_3
count,2.990000e+02,239.000000,275.000000,241.000000,53.000000,270.000000,266.000000,101.000000,299.000000,299.000000,299.000000
mean,1.087733e+06,38.168619,72.000000,30.460581,4.707547,46.307407,24.274436,3.039604,3659.709030,90.528428,7.387960
std,1.532032e+06,0.733744,28.646219,17.666102,1.982311,10.436743,27.364194,1.967947,5408.472421,650.637139,127.749768
min,5.184760e+05,35.400000,30.000000,8.000000,1.000000,23.000000,3.300000,0.100000,0.000000,0.000000,0.000000
25%,5.289040e+05,37.800000,48.000000,18.000000,3.000000,38.000000,6.500000,2.000000,2111.500000,0.000000,0.000000
50%,5.303010e+05,38.200000,64.000000,25.000000,5.000000,45.000000,7.500000,2.300000,2322.000000,0.000000,0.000000
75%,5.347360e+05,38.500000,88.000000,36.000000,6.500000,52.000000,56.750000,3.900000,3209.000000,0.000000,0.000000
max,5.305629e+06,40.800000,184.000000,96.000000,7.500000,75.000000,89.000000,10.100000,41110.000000,7111.000000,2209.000000

In [72]:
dataset.iloc[:,:]

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,NaN,120.0,70.0,cold,NaN,pale_cyanotic,more_3_sec,...,55.0,65.0,NaN,NaN,euthanized,no,3205,0,0,no
295,no,adult,527702,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,44.0,NaN,serosanguious,3.3,euthanized,yes,2208,0,0,yes
296,yes,adult,529386,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,60.0,6.8,NaN,NaN,died,yes,3205,0,0,no
297,yes,adult,530612,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,50.0,6.0,serosanguious,3.4,lived,yes,2208,0,0,yes
298,yes,adult,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,clear,1.0,euthanized,no,6112,0,0,no

In [123]:
y=dataset.iloc[:,22].values
x=dataset.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25,26,27]].values

In [125]:
pd.DataFrame(y)

              0
0          died
1    euthanized
2         lived
3          died
4          died
..          ...
294  euthanized
295  euthanized
296        died
297       lived
298  euthanized

[299 rows x 1 columns]

In [126]:
#Question 3: Replace the missing values by the most frequent value in each column.
from sklearn.preprocessing import Imputer
imp=Imputer(missing_values='NaN',strategy='median',axis=0)
x[:,[3,4,5,15,18,19,21]]=imp.fit_transform(x[:,[3,4,5,15,18,19,21]])

In [75]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,no,adult,530101,38.5,66,28,cool,reduced,NaN,more_3_sec,...,45,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88,20,NaN,NaN,pale_cyanotic,less_3_sec,...,50,85,cloudy,2,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40,24,normal,normal,pale_pink,less_3_sec,...,33,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164,84,cold,normal,dark_cyanotic,more_3_sec,...,48,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104,35,NaN,NaN,dark_cyanotic,more_3_sec,...,74,7.4,NaN,NaN,died,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,NaN,120,70,cold,NaN,pale_cyanotic,more_3_sec,...,55,65,NaN,NaN,euthanized,no,3205,0,0,no
295,no,adult,527702,37.2,72,24,cool,increased,pale_cyanotic,more_3_sec,...,44,NaN,serosanguious,3.3,euthanized,yes,2208,0,0,yes
296,yes,adult,529386,37.5,72,30,cold,reduced,pale_cyanotic,less_3_sec,...,60,6.8,NaN,NaN,died,yes,3205,0,0,no
297,yes,adult,530612,36.5,100,24,cool,reduced,pale_pink,less_3_sec,...,50,6,serosanguious,3.4,lived,yes,2208,0,0,yes
298,yes,adult,534618,37.2,40,20,NaN,NaN,NaN,NaN,...,36,62,clear,1,euthanized,no,6112,0,0,no

In [127]:
from sklearn.impute import SimpleImputer 
imp=SimpleImputer(strategy='most_frequent')
x[:,[6,7,8,9,10,11,12,13,14,16,17,20]]=imp.fit_transform(x[:,[6,7,8,9,10,11,12,13,14,16,17,20]])

In [129]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,no,adult,530101,38.5,66,28,cool,reduced,normal_pink,more_3_sec,...,distend_large,45,8.4,cloudy,2.3,no,11300,0,0,no
1,yes,adult,534817,39.2,88,20,cool,normal,pale_cyanotic,less_3_sec,...,other,50,85,cloudy,2,no,2208,0,0,no
2,no,adult,530334,38.3,40,24,normal,normal,pale_pink,less_3_sec,...,normal,33,6.7,cloudy,2.3,no,0,0,0,yes
3,yes,young,5290409,39.1,164,84,cold,normal,dark_cyanotic,more_3_sec,...,distend_large,48,7.2,serosanguious,5.3,yes,2208,0,0,yes
4,no,adult,530255,37.3,104,35,cool,normal,dark_cyanotic,more_3_sec,...,distend_large,74,7.4,cloudy,2.3,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,38.2,120,70,cold,normal,pale_cyanotic,more_3_sec,...,distend_large,55,65,cloudy,2.3,no,3205,0,0,no
295,no,adult,527702,37.2,72,24,cool,increased,pale_cyanotic,more_3_sec,...,distend_small,44,7.5,serosanguious,3.3,yes,2208,0,0,yes
296,yes,adult,529386,37.5,72,30,cold,reduced,pale_cyanotic,less_3_sec,...,distend_large,60,6.8,cloudy,2.3,yes,3205,0,0,no
297,yes,adult,530612,36.5,100,24,cool,reduced,pale_pink,less_3_sec,...,distend_small,50,6,serosanguious,3.4,yes,2208,0,0,yes
298,yes,adult,534618,37.2,40,20,cool,normal,normal_pink,less_3_sec,...,normal,36,62,clear,1,no,6112,0,0,no

In [128]:
pd.DataFrame(x).isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
dtype: int64

In [130]:
#Question 2: This dataset contains many categorical features, replace them with label encoding.
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
ind=[0,1,6,7,8,9,10,11,12,13,14,16,17,20,22,26]
for i in ind:
    x[:,i]=le.fit_transform(x[:,i])

In [131]:
y=le.fit_transform(y)

In [118]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,0,0,530101,38.5,66,28,1,3,3,2,...,45,8.4,1,2.3,0,0,11300,0,0,0
1,1,0,534817,39.2,88,20,1,2,4,1,...,50,85,1,2,1,0,2208,0,0,0
2,0,0,530334,38.3,40,24,2,2,5,1,...,33,6.7,1,2.3,2,0,0,0,0,1
3,1,1,5290409,39.1,164,84,0,2,2,2,...,48,7.2,2,5.3,0,1,2208,0,0,1
4,0,0,530255,37.3,104,35,1,2,2,2,...,74,7.4,1,2.3,0,0,4300,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1,0,533886,38.2,120,70,0,2,4,2,...,55,65,1,2.3,1,0,3205,0,0,0
295,0,0,527702,37.2,72,24,1,1,4,2,...,44,7.5,2,3.3,1,1,2208,0,0,1
296,1,0,529386,37.5,72,30,0,3,4,1,...,60,6.8,1,2.3,0,1,3205,0,0,0
297,1,0,530612,36.5,100,24,1,3,5,1,...,50,6,2,3.4,2,1,2208,0,0,1
298,1,0,534618,37.2,40,20,1,2,3,1,...,36,62,0,1,1,0,6112,0,0,0

In [132]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [140]:
pd.DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1,0,530693,38.2,64,25,1,3,5,2,...,0,46,5.9,1,2.3,1,3025,0,0,0
1,0,0,527702,37.2,72,24,1,1,4,2,...,1,44,7.5,2,3.3,1,2208,0,0,1
2,0,0,528134,38.2,64,12,2,2,0,1,...,2,44,7.5,1,2.3,0,0,0,0,1
3,1,1,5282839,38.6,160,20,1,2,1,1,...,0,38,7.5,1,2.3,1,7111,0,0,1
4,1,0,529126,38,50,36,1,2,3,1,...,0,39,6.6,0,5.3,1,8400,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,1,0,529386,37.5,72,30,0,3,4,1,...,0,60,6.8,1,2.3,1,3205,0,0,0
205,0,0,528151,38.5,100,25,1,3,1,2,...,0,45,7.5,1,2.3,0,4124,0,0,0
206,1,0,527524,38.2,100,25,1,2,4,2,...,0,59,6.3,1,2.3,1,4205,0,0,0
207,1,0,5279822,38,64,24,1,3,2,2,...,0,68,7.8,1,2.3,1,3205,0,0,0
208,1,0,535031,38.5,92,40,0,3,3,1,...,0,46,67,1,2,1,2208,0,0,0

In [134]:
pd.DataFrame(y_train)

     0
0    0
1    1
2    2
3    0
4    2
..  ..
204  0
205  1
206  0
207  0
208  2

[209 rows x 1 columns]

In [135]:
#Question 4: Fit a decision tree classifier and observe the accuracy.
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)
y_pred_dtc=model.predict(x_test)

In [136]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_dtc)

0.6222222222222222

In [138]:
#Question 5: Fit a random forest classifier and observe the accuracy.
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)
y_pred_rfc=model.predict(x_test)

C:\Users\n.christopherraja\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [139]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_rfc)

0.7